include ../mixins/flash-messages
include ../mixins/users-list
include ../mixins/stat-cards

doctype html
html

	//- HTML HEADER
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		meta(name='author', content='Creative Tim')
		title INFLUX

		// Favicon
		link(rel='apple-touch-icon' sizes='180x180' href='/img/brand/apple-touch-icon.png')
		link(rel='icon' type='image/png' sizes='32x32' href='/img/brand/favicon-32x32.png')
		link(rel='icon' type='image/png' sizes='16x16' href='/img/brand/favicon-16x16.png')
		link(href="/img/brand/favicon.ico" rel="icon" type="image/png")
		link(rel='manifest' href='./site.webmanifest')
		meta(name='msapplication-TileColor' content='#da532c')
		meta(name='theme-color' content='#ffffff')

		// Fonts
		link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700', rel='stylesheet')
		// Icons
		link(href='/vendor/nucleo/css/nucleo.css', rel='stylesheet')
		link(href='/vendor/@fortawesome/fontawesome-free/css/all.min.css', rel='stylesheet')
		// Argon CSS
		link(type='text/css', href='/css/argon.min.css?v=1.0.0', rel='stylesheet')

		// Here.com gep visualization api
		link(rel='stylesheet', type='text/css', href='https://js.cit.api.here.com/v3/3.0/mapsjs-ui.css?dp-version=1533195059')
		link(type='text/css', href='/css/geo-ui.css', rel='stylesheet')

		//- Include template-specific stylesheets by extending the css block
		block css


		//- Add any other template-specific HEAD tags by extending the head block
		block head

	//- HTML BODY
	body
		block content
			// Sidenav
			nav#sidenav-main.navbar.navbar-vertical.fixed-left.navbar-expand-md.navbar-light.bg-white
				.container-fluid
					// Toggler
					button.navbar-toggler(type='button', data-toggle='collapse', data-target='#sidenav-collapse-main', aria-controls='sidenav-main', aria-expanded='false', aria-label='Toggle navigation')
						span.navbar-toggler-icon
					// Brand
					a.navbar-brand.pt-0(href='/')
						img.navbar-brand-img(src='/img/brand/blue.jpeg', alt='...')
					// Collapse
					#sidenav-collapse-main.collapse.navbar-collapse
						// Collapse header
						.navbar-collapse-header.d-md-none
							.row
								.col-6.collapse-brand
									a(href='/')
										img(src='/img/brand/blue.png')
								.col-6.collapse-close
									button.navbar-toggler(type='button', data-toggle='collapse', data-target='#sidenav-collapse-main', aria-controls='sidenav-main', aria-expanded='false', aria-label='Toggle sidenav')
										span
										span
						// Form
						form.mt-4.mb-3.d-md-none
							.input-group.input-group-rounded.input-group-merge
								input.form-control.form-control-rounded.form-control-prepended(type='search', placeholder='Search', aria-label='Search')
								.input-group-prepend
									span.input-group-text
										i.fas.fa-search

						// Navigation
						ul.navbar-nav
							li.nav-item
								a.nav-link(href='/')
									i.ni.ni-tv-2.text-primary
									|  Home

							li.nav-item
								a.nav-link(href='/tool')
									i.ni.ni-planet.text-blue
									|  Analyze

						////////////////////////////////////////////////
						// Divider
						hr.my-3
						////////////////////////////////////////////////

						// Heading
						h6.navbar-heading.text-muted Celebrities
						// List of celeberties
						+users-list(celebs)

			// Main content 
			.main-content
				block main-content
					// Top navbar 
					nav.navbar.navbar-top.navbar-expand-md.navbar-dark#navbar-main
						.container-fluid
							// Brand 
							p.h4.mb-0.text-white.text-uppercase.d-none.d-lg-inline-block= title

					// Header 
					.header.bg-gradient-info.pb-8.pt-5.pt-md-6
						.container-fluid
							+stat-cards


				block page-content

		//- Add scripts that are globally required by your site here.
		//- Include template-specific javascript files by extending the js block
		block js
			// Argon Scripts
			// Core
			script(src='/vendor/jquery/dist/jquery.min.js')
			script(src='/vendor/bootstrap/dist/js/bootstrap.bundle.min.js')
			// Optional JS
			script(src='/vendor/chart.js/dist/Chart.min.js')
			script(src='/vendor/chart.js/dist/Chart.extension.js')

			// Here.com Geo Visualization
			script(type='text/javascript', src='https://js.api.here.com/v3/3.0/mapsjs-core.js')
			script(type='text/javascript', src='https://js.api.here.com/v3/3.0/mapsjs-service.js')
			script(type='text/javascript', src='https://js.api.here.com/v3/3.0/mapsjs-ui.js')
			script(type='text/javascript', src='https://js.api.here.com/v3/3.0/mapsjs-mapevents.js')
			script(type='text/javascript', src='https://js.cit.api.here.com/v3/3.0/mapsjs-clustering.js')
			script(type='text/javascript', src='https://js.cit.datalens.api.here.com/latest/mapsjs-datalens.js')
			script(type='text/javascript', src='https://d3js.org/d3.v4.min.js')

			//	chart js plugin
			script(type='text/javascript', src='/js/chartjs-plugin-labels.js')

			// Argon JS
			script(src='/js/argon.js?v=1.0.0')
			script(src='/js/profile-charts.js')


